.dashboard-grid {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr; /* main | transactions */
  grid-template-rows: auto auto auto;
  gap: 1rem;
  height: 100%;
  width: 95%;
  margin: 10px;
}

.card {
  background-color: #f97767;
  padding: 1rem;
}

.transactions {
  background-color: #f97767;
  padding: 1rem;
  grid-row: 1 / span 3;
  grid-column: 3;
}

.span-2 {
  grid-column: 1 / span 2;
}
