.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* main | transactions */
  grid-template-rows: auto auto auto;
  gap: 1rem;
  height: 100%;
  width: 80%;
  margin: 20px;
}

.card {
  background-color: #f97767;
  padding: 1rem;
}

.transactions {
  background-color: #f97767;
  padding: 1rem;
  grid-row: 1 / span 3;   /* 👈 THIS is the magic */
  grid-column: 3;
}

.span-2 {
  grid-column: 1 / span 2;
}